<%= provide(:title, 'Edit user') %>
<%= provide(:button_text, 'Save changes') %>
<%= provide(:url, '/users/'+@user[:id].to_s) %>
<h1>Update your profile</h1>
<div class="row">
  <div class="col-mod-6 col-md-offset-3">
    <%= render 'form'%>
    <%#= render 'form',button_text:'Save changes' %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" rel="noopener" target="_blank">change</a>
    </div>
  </div>
</div>
