<%= provide(:title, 'Sign up') %>
<%= provide(:button_text, 'Create my account') %>
<%= provide(:url, '/signup') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-mod-6 col-md-offset-3">
    <%= render 'form'%>
    <%#= render 'form',url: '/users/new' %>
  </div>
</div>
